@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.children:nth-child(1) {
  width: 219px !important;
}
.children:nth-child(2) {
  width: 195px !important;
}
.children:nth-child(3) {
  width: 177px !important;
}
.children:nth-child(4) {
  width: 157px !important;
}
.children:nth-child(5) {
  width: 137px !important;
}
.children:nth-child(6) {
  width: 117px !important;
}

.selected {
  background-color: rgb(50, 196, 152);
}

* {
  font-family: "Cairo", sans-serif;
}

input[type] {
  direction: rtl;
}

/* *{
    outline: red;
    outline-width: 2px ;
    outline-style: solid;
  } */
